div {
            position: relative;
			margin: 20px;
        }
		img {
			height:100px; 
			width:100px;
		}
		#main {
			width: 960px;
			height: 700px;
			background: #F8F6C6;
			position: static;
			margin: 0 auto;
			padding: 20px;
		}